<h1>All Sub</h1>
<%= link_to 'Create sub', new_sub_path %>

<ul>
  <% @subs.each do |sub| %>
    <li>
      <%= link_to sub.name, sub %>
    </li>
  <% end %>
</ul>



<!-- non echoing -->
<% 4-2 %>

<!-- echoing -->
<%=  %>

<%# %>
