<h1><%= @sub.name %></h1>
<hr /> 
<p>What do you want to do?</p>
<%= link_to 'Edit sub', edit_sub_path(@sub) %>
<br />
<%= link_to 'Delete sub', @sub, method: :delete  %>
<br />
<%= link_to 'View Topics', sub_topics_path(@sub)  %>